.comment {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    color: #1c3664;
    margin: 5px;
}

.comment .author {
    font-size: 30px;
}

.comment .content {
    display: flex;
    align-items: center;
}

.comment img {
    margin-left: 1rem;
    vertical-align: middle;
    display: inline;
    float: right;
    height: 20px;
}