.Cards {
 display: flex;
 justify-content: center;

 .Cards__container {
     width: 1140px;
     padding: 0 70px;
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     margin: 0 65px;
 }
}

@media screen and (min-width: 360px) {
  .Cards__container {
    width: 360px;
    background-color: red;
    padding: 0 70px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 65px;
  }
}